<h3>Rezept {{recipe.Name}}</h3>
<img *ngIf="recipe.ImageUrl" src="{{recipe.ImageUrl}}" style="height:150px; width:auto"><br>
<img *ngIf="!recipe.ImageUrl" mat-card-image src="{{recipePlaceHolderImageUrl}}"><br>
<br>
Zutaten:
<ol>
  <li *ngFor="let ingredient of recipe.Ingredients;let i = index">
    <i>{{ingredient.Name}} - {{ingredient.Amount}} {{ingredient.Unit}}</i>
  </li>
</ol>
<br>
<button mat-raised-button (click)="addToShoppingList()">
  <mat-icon>add_shopping_cart</mat-icon>
</button>
<br>
<br>

Zubereitung:
<label placeholder="Zubereitung">{{recipe.Description}}</label>
<br>

<button [routerLink]="['/recipes']" mat-raised-button>Back</button>

<button [routerLink]="['/recipe/edit', recipe.Id]" mat-raised-button color="primary">Edit</button>
<button [routerLink]="['/recipes']" mat-raised-button color="warn" (click)="delete(recipe)">Delete</button>