<div class="row">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-card *ngFor="let recipe of items">
      <mat-card-header>
        <mat-card-title style="cursor:pointer" [routerLink]="['/recipe/view', recipe.Id]">{{recipe.Name}}
        </mat-card-title>
        <mat-card-subtitle>Zuletzt geändert: {{recipe.LastEdited | date:long}}</mat-card-subtitle>
      </mat-card-header>
      <a [routerLink]="['/recipe/view', recipe.Id]"> <img *ngIf="recipe.ImageUrl" mat-card-image
          src="{{recipe.ImageUrl}}" style="height:160px; width:auto">
      </a>
      <a [routerLink]="['/recipe/view', recipe.Id]"> <img *ngIf="!recipe.ImageUrl" mat-card-image
          src="{{recipePlaceHolderImageUrl}}" style="height:160px; width:auto">
      </a>
      <mat-card-actions>
        <button mat-raised-button (click)="addToShoppingList(recipe)">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-list>
</div>

<a routerLink="/recipe/add"><button class="btn btn-success pull-right">new recipe</button></a>